<footer>
    <p>Created by Dewald vd Berg - Copyright {{getCurrentYear}}</p> <!--when something is used inside of {} that is not a partial, handlebars will first look for a helper with that name, then it will look for a piece of data with that name, in this case {{getCurrentYear}} -->
</footer>